*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background: #05182b;
  height: 100vh;
  width: 100%;
  justify-content: center;
  
}
/* Header section */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background-color: #05182b;
  color: #fff;
  height: 80px;
  width: 100%;
  position: fixed;
  box-shadow: 0px 4px 10px rgba(245, 244, 244, 0.1);
  z-index: 1000;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.logo-name {
  font-size: 1.5rem;
  font-weight: 700;
  font-family: 'lato';
  line-height: 30px;
  text-shadow: 0px 0px 5px rgba(0,0,0,0.1);
}

.nav-container{
  display: flex;
  justify-content: space-between;
}
.nav-links {
  display: flex;
  gap: 20px;
  position: relative;
  right: 11rem;
  top: 1rem;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
  font-size: 1.5rem;
  font-family: lato;
}
.nav-links a:hover{
  color:#8ED1B2;
}

.button-container {
  display: flex;
}

.cta-button {
  background-color: #f4a261;
  color: #ffff;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 600;
  font-size: 20px;
  font-family: Lato;
  position: relative;
  right: 4rem;
  width: 150px;
  height: 50px;
  text-decoration: none;
  transition: background-color 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.cta-button:hover{
  background-color: #8ED1B2;
  transform: scale(1.05);
}

.menu-icon {
  display: none;
  font-size: 1.5rem;
  cursor: pointer;
}

/* Responsive Styles for header */
@media screen and (max-width: 860px) {
  .nav-container {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background-color: #102630;
    padding: 15px;
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  .nav-container.active {
    display: flex;
    flex-direction: column;
    height: 500px;
  }
  .nav-links{
    display: flex;
    flex-direction: column;
    gap: 15px;
    position: relative;
    left: 1rem;
    
  }
  .cta-button{
    position: relative;
    left: 0.7rem;
    top: 1.5rem;
  }
  .menu-icon {
    display: block;
  }
}
@media screen and (min-width:861px) and (max-width:1000px){
  .nav-container{
    display: flex;
    justify-content: space-between;
  }
  .nav-links {
    display: flex;
    gap: 10px;
    position: relative;
    right: 1rem;
    top: 1rem;
  }
  
  .nav-links a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
    font-family: Montserrat;
  }
  .nav-links a:hover{
    color:#8ED1B2;
  }
  
  .button-container {
    display: flex;
  }
  
  .cta-button {
    background-color: #f4a261;
    color: #ffff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 600;
    font-size: 18px;
    font-family: Montserrat;
    position: relative;
    right: -1rem;
    width: 150px;
    height: 50px;
  }
}
@media screen and (min-width:1000px) and (max-width:1024px){
  .nav-container{
    display: flex;
    justify-content: space-between;
  }
  .nav-links {
    display: flex;
    gap: 20px;
    position: relative;
    right: 3rem;
    top: 1rem;
  }
  
  .nav-links a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
    font-family: Montserrat;
  }
  .nav-links a:hover{
    color:#8ED1B2;
  }
  
  .button-container {
    display: flex;
  }
  
  .cta-button {
    background-color: #f4a261;
    color: #ffff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 600;
    font-size: 18px;
    font-family: Montserrat;
    position: relative;
    right: 1rem;
    width: 150px;
    height: 50px;
  }
  
}


/* HERO SECTION */
.hero-container{
height: 80vh;
width: 100%;
display: flex;
justify-content: center;
gap: 20px;
text-align: center;
padding: 20px;
color: #f7f7f7;
position: relative;
top: 6rem;
}
.hero-content{
  width: 50%;
  position: relative;
  top: 5rem;
  display: flex;
  flex-direction: column;
  gap: 50px;
  text-align: center;
  align-items: center;

}
.hero-content h1{
  font-size: 50px;
  font-family: lato;
  font-weight: 700;
  line-height: 65px;
}
 .hero-content h1 span{
  position: relative;
  right: 2rem;
}

.hero-content p{
  position: relative;
  top: 1rem;
  font-size: 20px;
  font-weight: 400;
  font-family: roboto condensed;
  line-height: 30px;
  left: 1rem;
  width: 100%;
  max-width: 600px;
  

}
.hero-content p span{
  position: relative;
  left: 0.5rem;
}
 .hero-image{
  position: relative;
  left: 1rem;
  width: 45%;
  background-image: url("./images/Hero3.jpg");
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  z-index: 0;
 }
 .hero-image::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.2);
 
 }
 .hero-buttons{
  display: flex;
  gap: 30px;
 }

 .hero-button{
  background-color: #f4a261;
  color: #ffff;
  flex-direction: column;
  gap: 30px;
  padding: 10px 20px;
  border: none;
  box-shadow: none;
  outline: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 600;
  font-size: 20px;
  font-family: Lato;
  position: relative;
  right: 4rem;
  width: auto;
  min-width: 120px;
  text-decoration: none;
  white-space: nowrap;
  transition: background-color 0.5s ease-in-out, transform 0.5s ease-in-out;
 }
 .hero-button:hover{
  background-color: #8ED1B2;
  transform: scale(1.05);
 }

 @media (min-width: 300px) and (max-width: 767px) {
  .hero-container {
    flex-direction: column;
    height: auto;
    align-items: center;
    gap: 30px;
    top: 1.5rem;
  }

  .hero-content {
    width: 90%;
    text-align: center;
  }
  .hero-content h1{
    font-size: 32px;
    font-family: lato;
    font-weight: 700;
    line-height: 55px;
  }
   .hero-content h1 span{
    position: relative;
    left: 0.3rem;
  }
  
  .hero-content p{
    position: relative;
    top: 1rem;
    font-size: 20px;
    font-weight: 400;
    font-family: roboto condensed;
    line-height: 30px;
    left: 0.3rem;
    width: 100%;
    max-width: 600px;
  }
  .hero-content p span{
    position: relative;
    left: 0.5rem;
  }
  .hero-content br{
    display: none;
  }

  .hero-image {
    width: 90%;
    height: 250px;
    left: 0;
    position: relative;
    top: 5rem;
  }
  .hero-button{
    position: relative;
    right: 0.3rem;
  }
}

@media (min-width: 768px) and (max-width: 1000px) {
  .hero-container {
    flex-direction: column;
    height: auto;
    align-items: center;
    gap: 30px;
    top: 2rem;
  }

  .hero-content {
    width: 90%;
    text-align: center;
  }
  .hero-content h1{
    font-size: 50px;
    font-family: lato;
    font-weight: 700;
    line-height: 65px;
  }
   .hero-content h1 span{
    position: relative;
    right: 2rem;
  }
  
  .hero-content p{
    position: relative;
    top: 1rem;
    font-size: 25px;
    font-weight: 400;
    font-family: roboto condensed;
    line-height: 30px;
    left: 1rem;
    width: 100%;
    max-width: 600px;
    
  
  }
  .hero-content p span{
    position: relative;
    left: 0.5rem;
  }
  .hero-content br{
    display: none;
  }

  .hero-image {
    width: 90%;
    height: 300px;
    position: relative;
    left: 0;
    top: 5rem;
  }
  .hero-button{
    position: relative;
    left:1rem ;
  }
}

@media (min-width: 1001px) and (max-width: 1024px) {
  .hero-container {
    position: relative;
    bottom: 3rem;
    flex-direction: row;
    gap: 20px;
  }

  .hero-content {
    width: 50%;
    text-align: left;
  }
  .hero-content h1{
    font-size: 40px;
    font-family: lato;
    font-weight: 700;
    line-height: 55px;
  }
   .hero-content h1 span{
    position: relative;
    right: 0.2rem;
  }
  
  .hero-content p{
    position: relative;
    top: 1rem;
    font-size: 25px;
    font-weight: 400;
    font-family: roboto condensed;
    line-height: 35px;
    left: 0.6rem;
    width: 100%;
    max-width: 600px;
  }
  .hero-content p span{
    position: relative;
    left: 0.2rem;
  }
  .hero-content br{
    display: none;
  }

  .hero-image {
    width: 45%;
    height: 600px;
    left: 0;
  }
}

/* ABOUT US PAGE */
.about-container {
  width: 100%;
  padding: 50px;
  color: #f7f7f7;
  text-align: center;
  position: relative;
  top: 10rem;
}
.about-container h1{
  font-size: 40px;
  line-height: 40px;
  font-family: lato;
  font-weight: 800;
  margin-top: 20px;
}

/* About Section */
.about-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 30px;
  width: 100%;
}
.about-image{
  width: 50%;
  position: relative;
  top: 3rem;
}
.about-image img{
  height: 500px;
  width: 600px;
}
.about-content {
  width: 50%;
  text-align: left;
}

.about-content h2 {
  font-size: 40px;
  font-weight: bold;
}

.about-content p {
  position: relative;
  top: 1rem;
  font-size: 20px;
  font-weight: 400;
  font-family: roboto condensed;
  line-height: 30px;
  left: 1rem;
  width: 100%;
  max-width: 600px;
}


/* Why Choose Us */
.why-choose-us {
  padding: 50px 0;
  position: relative;
  top: 6rem;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
}
.why-choose-us h2{
  font-size: 40px;
  line-height: 40px;
  font-family: lato;
  font-weight: 800;
  position: relative;
}

.choose-grid {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 20px;
  padding-top: 20px;
}

.choose-item {
  height: 300px;
  width: 400px;
  background: #102630;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  text-align: center;
  align-items: center;
  justify-content: center;
  transition: transform 0.5s ease-in-out;
}

.choose-item:hover {
  transform: translateY(-5px);
}
.why-choose-us svg{
  height: 40px;
  width: 50px;
  color: #f4a261;

}
.choose-item h3{
  font-size: 25px;
  font-family: Montserrat;
  font-weight: 700;
  line-height: 30px;

}
.choose-item p{
  font-size: 20px;
  font-weight: 400;
  font-family: roboto condensed;
  line-height: 30px;
  left: 1rem;
  color: #dbd6d6;
}
/* about mission */
.about-mission{
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.about-mission h2{
  font-size: 40px;
  line-height: 40px;
  font-family: lato;
  font-weight: 800;
  position: relative;
}
.about-mission-content{
  display: flex;
  flex-direction: row;
}
.about-mission-content p {
  position: relative;
  top: 5rem;
  font-size: 20px;
  font-weight: 400;
  font-family: roboto condensed;
  line-height: 30px;
  left: 1rem;
  width: 100%;
  max-width: 800px;
}


.about-mission-content img {
  width: 800px;
  height: 400px;
  border-radius: 10px;
  animation: SlideBackForth 2s infinite ease-in-out;
}

.about-mission-content img:hover {
  transform: scale(1.05);
}
@keyframes SlideBackForth{
  0%{
    transform: translateX(0);
  }
  50%{
    transform: translateX(20px);
  }
  100%{
    transform: translateX(0);
  }
}

/* about cta button */
.about-cta{
  margin-top: 100px;
}
.about-cta h2{
  font-size: 30px;
  font-family: Montserrat;
  font-weight: 600;
  line-height: 30px;
}
.about-cta p{
  font-size: 18px;
  margin-bottom: 20px;
  font-family: Lato;
  line-height: 30px;
}
.about-button{
  background-color: #f4a261;
  color: #ffff;
  flex-direction: column;
  padding: 10px 20px;
  border: none;
  box-shadow: none;
  outline: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 600;
  font-size: 20px;
  font-family: Lato;
  position: relative;
  right: 1rem;
  top: 2rem;
  width: 350px;
  text-decoration: none;
  white-space: nowrap;
  transition: background-color 0.5s ease-in-out, transform 0.5s ease-in-out;
 }
 .about-button:hover{
  background-color: #8ED1B2;
  transform: scale(1.05);
 }


@media (min-width: 300px) and (max-width: 767px) {
  .about-container {
    padding: 30px;
    top: 5rem;
  }

  .about-section {
    flex-direction: column;
    text-align: center;
    gap: 60px;
  }

  .about-image {
    width: 100%;
  }

  .about-image img {
    width: 100%;
    height: auto;
  }

  .about-content {
    width: 100%;
    text-align: center;
    margin-right: 15px;
  }

  .choose-grid {
    grid-template-columns: 1fr; 
  }

  .choose-item {
    width: 100%;
  }
  
  .about-mission-content {
    display: flex;
    flex-direction: column;
    text-align: center;
    position: relative;
    bottom: 5rem;
    gap: 60px;
   
  }
  .about-mission-content p{
    margin-right: 18px;
  }
  .about-mission-content img {
    width: 500px;
    height: 300px;
    position: relative;
    top: 3rem;
    right: 10rem;
  }

  .about-cta {
    text-align: center;
   position: relative;
   bottom: 4rem;
  }
  .about-cta p{
    margin-top: 15px;
    line-height: 30px;
  }
  .about-button {
    width: 100%;
  }
}


@media (min-width: 768px) and (max-width: 1000px) {
  .about-container {
    padding: 40px;
  }

  .about-section {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 60px;
  }
  .about-image {
    width: 90%;
  }

  .about-image img {
    width: 100%;
    height: auto;
  }

  .about-content {
    width: 90%;
    text-align: center;
  }
  .about-mission-content{
    position: relative;
    bottom: 3rem;
    display: flex;
    flex-direction: column;
    gap: 60px;
  }
  .about-mission-content p{
    margin-right: 18px;
  }
  .about-mission-content img {
    width: 500px;
    height: 300px;
    position: relative;
    top: 3rem;
    right: 10rem;
  }

  .about-cta {
    text-align: center;
   position: relative;
   bottom: 4rem;
  }
  .about-cta p{
    margin-top: 15px;
    line-height: 40px;
  }
  .about-button {
    width: 100%;
  }



  .choose-grid {
    grid-template-columns: repeat(2, 1fr); /* Two columns */
  }

  .choose-item {
    width: 100%;
  }

  .about-mission-content {
    flex-direction: column;
    text-align: center;
    gap: 30px;
  }

  .about-mission-content img {
    width: 100%;
    height: auto;
  }

  .about-cta {
    text-align: center;
  }

  .about-button {
    width: 80%;
  }
}


@media (min-width: 1001px) and (max-width: 1024px) {
  .about-container {
    padding: 50px;
    margin-top: 4rem;
  }

  .about-section {
    flex-direction: row;
    align-items: center;
    gap: 30px;
  }

  .about-image {
    width: 50%;
  }

  .about-image img {
    width: 100%;
    height: auto;
  }

  .about-content {
    width: 50%;
    text-align: left;
  }

  .choose-grid {
    grid-template-columns: repeat(2, 1fr); 
  }

  .choose-item {
    width: 90%;
  }

  .about-mission-content {
    flex-direction: row;
    align-items: center;
    gap: 30px;
  }

  .about-mission-content img {
    width: 80%;
    height: auto;
  }

  .about-cta {
    text-align: center;
  }

  .about-button {
    width: 60%;
  }
}

/* PATNERS STYLING */
.partners-container {
  background-color: #102630;
  text-align: center;
  padding: 50px 20px;
  color: #ffffff;
  position: relative;
  top: 15rem;
}

.partners-container h2 {
  font-size: 32px;
  font-weight: 700;
  font-family: Lato, sans-serif;
  margin-bottom: 10px;
}

.partners-container p {
  font-size: 18px;
  max-width: 700px;
  margin: 0 auto;
  color: #d1d1d1;
  font-size: 18px;
  font-family: Montserrat;
  font-weight: 400px;
  line-height: 30px;
}

.partners-logos {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  flex-wrap: wrap;
  margin-top: 30px;
}

.partners-logos img {
  width: 140px;
  height: auto;
  filter: brightness(2);
  transition: filter 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.partners-logos img:hover {
  filter: brightness(2.5);
  transform: scale(1.1);
}

/* HOW IT WORKS */
.how-it-works {
  position: relative;
  top: 13rem;
  text-align: center;
  padding: 60px 20px;
  color: #f7f7f7;
}

.how-it-works h2 {
  font-size: 45px;
  font-family: Lato;
  line-height: 40px;
  font-weight: 800;
  margin-bottom: 20px;
}
.how-it-works h3 {
  font-size: 35px;
  font-family: Lato;
  line-height: 35px;
  font-weight: 700;
  margin-bottom: 20px;
}

.how-it-works p {
  font-size: 18px;
  font-family: Montserrat;
  max-width: 700px;
  margin: 0 auto 30px;
  line-height: 30px;
}

.steps-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.step-item {
  padding: 30px;
  border-radius: 10px;
  height: 300px;
  text-align: center;
  transition: background 0.4s ease-in-out, transform 0.3s ease-in-out;
}

.step-icon {
  font-size: 40px;
  margin-bottom: 15px;
  color: #f4a261;
}


.step-one {
  border: 2px solid #f4a261;
}
.step-one:hover {
  background: rgba(244, 162, 97, 0.1);
}


.step-two {
  border: 2px solid #8ED1B2;
}
.step-two:hover {
  background: rgba(142, 209, 178, 0.1);
}
.step-three {
  border: 2px solid #4a90e2;
}
.step-three:hover {
  background: rgba(74, 144, 226, 0.1);
}


@media (max-width: 1024px) {
  .steps-grid {
    grid-template-columns: 1fr;
  }
}

/* SUPPORT */
.support-section {
  position: relative;
  top: 15rem;
  text-align: center;
  padding: 60px 20px;
  color: #f7f7f7;
}

.support-section h2 {
  font-size: 40px;
  font-family: Lato;
  line-height: 40px;
  font-weight: 800;
  margin-bottom: 20px;
}

.support-section p {
  font-family: Montserrat;
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  max-width: 700px;
  margin: 0 auto 30px;
  line-height: 1.6;
}
.support-section h3 {
  font-size: 35px;
  font-family: Lato;
  line-height: 35px;
  font-weight: 700;
  margin-bottom: 20px;
}

.support-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
  justify-content: center;
  align-items: center;
}

.support-item {
  height: 350px;
  padding: 30px;
  border: 2px solid #8ED1B2;
  border-radius: 10px;
  text-align: center;
  transition: background 0.4s ease-in-out, transform 0.3s ease-in-out;
}

.support-item:hover {
  background: rgba(142, 209, 178, 0.1);
  transform: translateY(-5px);
}

.support-icon {
  font-size: 50px;
  margin-bottom: 15px;
  color: #f4a261;
}

.support-item h3 {
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 10px;
}

.support-item p {
  font-size: 18px;
  line-height: 1.5;
  color: #dbd6d6;
}

.support-link{
  color: #ffff;
  flex-direction: column;
  border: none;
  box-shadow: none;
  outline: none;
  cursor: pointer;
  font-weight: 600;
  font-size: 20px;
  font-family: Lato;
  position: relative;
  right: 1rem;
  top: 2rem;
  text-decoration: none;
  white-space: nowrap;
  transition: background-color 0.5s ease-in-out, transform 0.5s ease-in-out;
 }
 .support-link:hover{
  color: #8ED1B2;
  transform: scale(1.05);
 }


@media (max-width: 1024px) {
  .support-grid {
    grid-template-columns: 1fr;
  }
}

/* REVIEWS PAGE */
.customer-reviews {
  position: relative;
  text-align: center;
  padding: 50px 20px;
  top: 19rem;
}
.customer-reviews h2{
  font-size: 40px;
  font-family: Lato;
  line-height: 40px;
  font-weight: 800;
  margin-bottom: 70px;
  color:#ffffff ;
}
.reviews-wrapper{
  display: flex;
  width: max-content;
  animation: slideReviews 60s infinite linear;
  gap: 30px;
}
.reviews-container {
  position: relative;
  display: flex;
  gap: 60px;
  overflow:hidden ;
  width: 100%;
  margin: auto;
  max-width: 1200px;

}

.review-card {
  flex: 0 0 auto;
  background: #102630;
  padding: 20px;
  border-radius: 10px;
  text-align: left;
  width: 350px;
  min-height: 250px;
  color: white;
  border: 2px solid #f4a261;
  transition: background-color 0.5s ease-in-out;
  overflow: hidden;
  word-wrap: break-word;
}

.review-card:hover {
  background-color: rgba(244, 162, 97, 0.2);
}
.review-card p{
  font-family: Montserrat;
  font-size: 17px;
  font-weight: 500;
  line-height: 30px;
}
.quote-icon {
  font-size: 30px;
  color: #f4a261;
}

.rating {
  margin: 10px 0;
  display: flex;
  justify-content: left;
}

.star-icon {
  color: #f4a261;
}

.customer-info {
  display: flex;
  align-items: center;
  gap: 10px;
}

.customer-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.customer-info h4{
  font-size: 16px;
  font-family: Lato;
  font-weight: 500;
  line-height: 30px;
}

.customer-info p{
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 300;
  line-height: 25px;
}
.date {
  font-size: 14px;
  color: #ccc;
}

@keyframes slideReviews {
  0% {
    transform: translateX(0);
  }
  
  100% {
    transform: translateX(-50%);
  }
}
/* FAQ SECTION */
.faq-section {
  position: relative;
  top: 22rem;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  justify-content: center;
}

.faq-section h2 {
  font-size: 40px;
  font-family: Lato;
  line-height: 40px;
  font-weight: 800;
  color: #ffffff;
}

.faq-section p {
  font-family: Montserrat;
  font-size: 17px;
  font-weight: 500;
  line-height: 30px;
  color: #f7f7f7;
}

.faq-container {
  display: grid;
  grid-template-columns: repeat(2, minmax(300px, 1fr)); 
  gap: 20px;
  text-align: left;
  padding: 20px;
  max-width: 1200px;
  margin: auto;
  align-items: flex-start;
}

.faq-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background: #102630;
  border: 2px solid #f4a261;
  border-radius: 8px;
  padding: 15px;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
  position: relative;
}

.faq-item:hover {
  background: rgba(244, 162, 97, 0.2);
}

.faq-question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Montserrat;
  font-size: 17px;
  font-weight: 500;
  line-height: 30px;
  color: white;
}

.faq-icon {
  font-size: 18px;
  color: #f4a261;
}

.faq-answer {
  display: none;
  margin-top: 10px;
  font-family: Montserrat;
  font-size: 17px;
  font-weight: 500;
  line-height: 30px;
  color: #f7f7f7;
  opacity: 0;
  transform: translateY(-10px);
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.faq-answer.show {
  display: block;
  opacity: 1;
  transform: translateY(0);
}

.faq-contact {
  margin-top: 30px;
  font-size: 18px;
}

.faq-contact p {
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  color: #f7f7f7;
}

.faq-item.active .faq-answer {
  display: block;
}

.faq-contact a {
  color: #f4a261;
  text-decoration: none;
  font-weight: bold;
}

.faq-contact a:hover {
  text-decoration: underline;
}

@media (max-width: 767px) {
  .faq-container {
    grid-template-columns: 1fr; 
  }
}

@media (min-width: 300px) and (max-width: 767px) {
  .faq-section h2{
    font-size: 25px;
    font-family: Lato;
    line-height: 25px;
    font-weight: 800;
    color:#ffffff ;
    margin-left: 10px;
  }
  .faq-section p{
    font-family: Montserrat;
    font-size: 17px;
    font-weight: 500;
    line-height: 30px;
    margin-left: 20px;
  }
}
/* Footer */
.footer {
  position: relative;
  top: 20rem;
  background: #0d1e2b;
  color: #ffffff;
  padding: 50px 20px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: auto;
  gap: 30px;
}

.footer-brand {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.footer-logo {
  width: 150px;
  height: auto;
  margin-bottom: 10px;
}
.footer-brand-container{
  position: relative;
  top: 0.5rem;
}
.footer-brand span {
  font-size: 24px;
  font-weight: 600;
  position: relative;
  bottom: 0.3rem;
}

.footer-brand p {
  font-size: 15px;
  font-family: Montserrat;
  font-weight: 500;
  line-height: 25px;
  margin-top: 5px;
}

.footer-links,
.footer-services,
.footer-contact {
  flex: 1;
  min-width: 200px;
}

.footer-links h3,
.footer-services h3,
.footer-contact h3 {
  font-size: 18px;
  line-height: 30px;
  font-family: lato;
  font-weight: 700;
  margin-bottom: 10px;
  color: #4da8da;
}

.footer-links ul,
.footer-services ul {
  list-style: none;
  padding: 0;
}

.footer-links ul li,
.footer-services ul li {
  margin-bottom: 8px;
  font-family: 14px;
  font-family: montserrat;
  line-height: 24px;
  font-weight: 400;
}

.footer-links a,
.footer-services a,
.footer-contact a {
  color: #f7f7f7;
  text-decoration: none;
}

.footer-contact .contact-btn {
  display: inline-block;
  margin-top: 10px;
  padding: 8px 15px;
  background-color: #f4a261;
  color: white;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  
}
.footer-contact p{
  font-family: 14px;
  font-family: montserrat;
  line-height: 24px;
  font-weight: 400;

}
.footer-contact .contact-btn{
  background-color: #f4a261;
  color: #ffff;
  flex-direction: column;
  padding: 10px 20px;
  border: none;
  box-shadow: none;
  outline: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 600;
  font-size: 20px;
  font-family: Lato;
  position: relative;
  right: 1rem;
  top: 2rem;
  width: 150px;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  transition: background-color 0.5s ease-in-out, transform 0.5s ease-in-out;
 }
 .footer-contact .contact-btn:hover{
  background-color: #8ED1B2;
  transform: scale(1.05);
 }

.footer-bottom {
  text-align: center;
  margin-top: 30px;
  font-family: 14px;
  font-family: montserrat;
  line-height: 24px;
  font-weight: 400;
}

.footer-bottom-links {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
}

.footer-bottom-links a {
  color: #f4a261;
  text-decoration: none;
}

.footer-bottom-links a:hover {
  text-decoration: underline;
}